@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    background-color: #e4e4e4;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body .login_alert {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3rem;
    margin-right: 1rem;
}

h1.head-1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

.login-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.login-group .login_input_group {
    width: 22rem;
}

[class^="sec-"] {
    margin-bottom: calc(1rem + 3vw);
}

.main-content {
    padding: 1rem;
}

.sp-card-item {
    padding: 1rem;
    background-color: #d0d0d0;
}

.sp-stats-card {
    padding: .5rem;
}

.sp-stats-card h2{
    font-size: 1.2rem;
}

.sp-stats-card p{
    font-size: 1.6rem;
    font-weight: 800;
}

.sp-stats-card.sp-stats-1 {
    background-color: #542e71;
    color: #fff;
}

.sp-stats-card.sp-stats-2 {
    background-color: #fb3640;
    color: #fff;
}

.sp-stats-card.sp-stats-3 {
    background-color: #fdca40;
    color: #fff;
}

.sp-stats-card.sp-stats-4 {
    background-color: #d0d0d0;
    color: #000;
}

.sp-stats-card.sp-stats-4 p {
    text-transform: uppercase;
}

.sp-stats-card.sp-stats-4 .bot-status {width: 1rem; height: 1rem; border-radius: 100%; margin-right: 1rem}
.sp-stats-card.sp-stats-4.online .bot-status {background-color: green}

.sp-stats-card .bot-status-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: baseline;
}

.sp-card-item .emoji_image {
    width: 1.5rem;
}

.mod_img_view {
    width: 1.6rem;
    border-radius: 100%;
    margin-right: 1rem;
}

@media (max-width: 992px) {
    .sp-stats-card.sp-stats-1,
    .sp-stats-card.sp-stats-2 {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    .sp-stats-card.sp-stats-3 {
        margin-bottom: 1.5rem;
    }
}