<div class="login-group">
    <h1>LOGIN INTO DASHBOARD</h1>
    <form id="login_form" action="/board">
        <div class="input-group mb-3 login_input_group">
            <input type="password" name="token" id="token" class="form-control" placeholder="PASSWORD" aria-label="PASSWORD" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">LOGIN</button>
        </div>
    </form>
</div>